
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 16px #ccc;
    padding: 20px 30px;
    text-align: center;
    width: 90%;
    max-width: 600px;
    margin: 0px auto;
}


.add-item-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #444;
}

input {
    flex: 1;
    padding: 10px;
    border: 2px solid #777;
    border-radius: 6px;
    font-size: 16px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

.okButton {
    padding: 10px 20px;
    background: #0056b3;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.okButton:hover {
    background: #007bff;
}

.cancelButton {
    padding: 5px 10px;
    background: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
}

.cancelButton:hover {
    background: #c82333;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 10px;
}

th:nth-child(1), td:nth-child(1) {
    width: 8%;
}

th:nth-child(2), td:nth-child(2) {
    width: 55%;
}

th:nth-child(3), td:nth-child(3) {
    width: 15%;
}

th:nth-child(4), td:nth-child(4) {
    width: 22%;
}

th {
    background: #33465a;
    color: #fff;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: normal;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tr:nth-child(even) {
    background-color: #e6f0ff;
}

input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
    color: #c82333;
}

